name: CR
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Semantic release
        id: semantic
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
          branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create upm branch
        run: |
          git branch -d upm &> /dev/null || echo upm branch not found
          git subtree split -P "$PKG_ROOT" -b upm
          git checkout upm
          if [[ -d "Samples" ]]; then
            git mv Samples Samples~
            rm -f Samples.meta
            git config --global user.name 'github-bot'
            git config --global user.email 'github-bot@users.noreply.github.com'
            git commit -am "fix: Samples => Samples~"
          fi
          git push -f -u origin upm
        env:
          PKG_ROOT: Assets/SpriteAnimations

      - name: Create upm git tag
        if: steps.semantic.outputs.new_release_published == 'true'
        run: |
          echo Creating tag $TAG
          git tag $TAG upm
          git push origin --tags
        env:
          TAG: upm/v${{ steps.semantic.outputs.new_release_version }}
